mixin drawFolder(folder)
    each node in Object.values(folder.children)
        if node.type === 'folder'
            .code-panel__tree-section
                img(src="./public/img/folder.svg" alt="folder")
                span.code-panel__tree-name= node.name
            .code-panel__tree-indent
                +drawFolder(node)
        else 
            if node.status !== 'REMOVED'
                .code-panel__tree-section.file(class=`${
                    node.isActive ? 'code-panel__tree-section--active' : ''
                }` data-path= node.path)
                    img(src="./public/img/file.svg" alt="file")
                    span.code-panel__tree-name(class=`${
                        node.isActive ? 'code-panel__tree-name--active' : ''
                    }`)= node.name
                    if node.isChanged
                        .code-panel__tree-point

if !context.filetree
    .code-panel__empty-block
        span Выберите ученика, его код появится здесь 
else
    .code-panel__filetree#filetree
        +drawFolder(context.filetree.nodes)     
    .code-panel__code-block
        pre
            code= context.code