.main
    .main__user-panel.user-panel#user-panel
    if context.isShowingTask
        .main__task-editor.task-editor#task-editor 
    else 
        .main__code-panel.code-panel#code-panel
    if context.activeUserId
        #messages
