.connection
    .connection__form
        h2.connection__title Observer by Sky Pro
        .connection__status
            img(src=context.isOnline ? './public/img/status-online.svg' : './public/img/status-offline.svg')
            span.connection__text-status= context.isOnline ? 'Сервер работает' : 'Сервер недоступен'
        button.button.create-room#create-room(disabled=!context.isOnline) Создать комнату
    a(href="#" class="connection__link link" id="load-plugin") Скачать плагин (для учеников)