@mixin flex-centr-centr {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connection {
    padding-top: 185px;
    display: flex;
    @include flex-centr-centr();
    gap: 25px;

    &__link {
        font-size: 16px;
    }

    &__form {
        width: 354px;
        height: 343px;
        padding-top: 30px;
        border-radius: 6px;
        background: #242424;
        display: flex;
        @include flex-centr-centr();
        justify-content: start;
    }

    &__title {
        margin-bottom: 8px;
        color: $font-color;
        font-size: 32px;
        line-height: normal;
    }

    &__text {
        margin-bottom: 30px;
        color: $font-color;
        font-size: 16px;
    }

    &__input {
        width: 245px;
        height: 35px;
        margin-bottom: 21px;
        padding: 8px 11px;
        border-radius: 4px;
        border: 1px solid #444;
        background: transparent;
        outline: none;
        color: $font-color;
        font-size: 14px;
        opacity: 0.7;

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__check-section {
        margin-bottom: 37px;
        display: flex;
        align-items: center;
        gap: 18px;
    }

    &__check-button {
        width: 88px;
        height: 28px;
        background: #3c3c3c;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $font-color;
        font-size: 14px;
        text-decoration: none;
        opacity: 0.5;
        transition: all 0.5s;

        &:hover {
            opacity: 0.3;
        }
    }

    &__status {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__text-status {
        color: $font-color;
        font-size: 14px;
        opacity: 0.7;
    }
}
