@mixin top-text {
    color: #000;
    font-size: 16px;
    line-height: 20px;
}

.messages {
    width: 406px;
    height: 354px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    right: 21px;

    &--converted {
        height: 49px;
    }

    &__top {
        height: 49px;
        padding: 16px 14px 13px;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        @include top-text();
    }

    &__convert {
        text-decoration: none;
        @include top-text();
        opacity: 0.5;
        transition: all 0.5;

        &:hover {
            opacity: 1;
        }
    }

    &__screen {
        height: 256px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        &::-webkit-scrollbar {
            width: 0.5em;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    &__empty-text {
        width: 288px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        opacity: 0.5;
    }

    &__form {
        padding: 12px 13px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        width: 100%;
        padding: 31px 20px 26px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__item {
        width: 267px;
        min-height: 61px;
        padding-left: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: #d9d9d9;
        align-self: start;

        &--user {
            align-self: end;
            background: #000;
        }
    }

    &__text {
        color: #000;
        font-size: 16px;
        line-height: normal;

        &--user {
            color: #fff;
        }
    }

    &__distance {
        color: #000;
        font-size: 14px;
        line-height: normal;
        opacity: 0.25;

        &--user {
            color: #fff;
        }
    }

    &__unsent {
        color: var(--red-100, #fc4c1e);
        font-size: 14px;
        line-height: normal;
    }
}
