.message-form {
    position: absolute;
    bottom: 19px;
    right: 50px;

    width: 406px;
    min-height: 354px;
    background: #000;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    // animation: open 0.5s ;



    &--converted {
        position: absolute;
        bottom: 19px;
        right: 50px;
        // animation: close 0.5s ;

        width: 406px;
        height: 49px;
        background: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 20%);
        border-radius: 10px 10px 0 0;
    }
}



.form {
    &__top {
        height: 49px;
        padding: 16px 21px 15px 14px;
        display: flex;
        justify-content: space-between;
    }

    &__steps {
        display: flex;
        flex-flow: column;
        gap: 1px;
    }

    .steps {
        &__box {
            width: 100%;
            height: 43px;
            padding: 10px 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--done {
                background: #0076FE;
            }

            &--help {
                background: #9F6405;
            }

            &--accepted {
                background: #015c21;
            }
        }

        &__text {
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;

            &--underline {
                text-decoration: underline;
            }
        }

        &__links {
            display: flex;
            align-items: center;
            gap: 27px;
        }

        &__link {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            transition: all 0.5s;

            &--return,
            &--complete {
                color: #D9D9D9;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    text-decoration: underline;
                }
            }

            &--confirm {
                color: #00DD80;

                &:hover {
                    opacity: 0.5;
                    text-decoration: underline;
                }
            }
        }
    }

    &__name {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    &__link {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        opacity: 0.5;
        transition: all 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    &__messages {
        height: 252px;
        padding: 31px 19px 9px;
        border-top: 1px solid rgba(255, 255, 255, 20%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        overflow: auto;
        scrollbar-width: 0;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        position: relative;

        &::-webkit-scrollbar {
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    &__empty-text {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        opacity: 0.5;

        position: absolute;
        top: 100px;
        left: 150px;
    }

    &__message {
        max-width: 267px;
        min-height: 40px;
        padding: 10px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        background: #fff;
        color: #000;



        & span {
            font-size: 14px;
            opacity: 0.5;
        }

        &--student {
            align-self: start;
            background: #d9d9d9;
            
        }
    }

    &__footer {
        width: 100%;
        height: 53px;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 375px;
        height: 100%;
        padding-left: 18px;
        padding-right: 18px;
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__button {
        width: 30px;
        height: 100%;
        background:
            url(../../public/img/button-send-message.svg) center no-repeat,
            transparent;
        border: none;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }
}

// @keyframes open {
//     0% {
//         opacity: 0;
//         bottom: -500px ;
//     }
//     100% {
//         opacity: 1;
//         bottom: 18px;
//     }
// }

// @keyframes close {
//     0% {
//         opacity: 1;
//         bottom: 320px;
//     }
//     100% {
//         opacity: 1;
//         bottom: 18px;
//     }
// }
