.message-form {
    position: absolute;
    top: 315px;
    right: 45px;

    width: 406px;
    height: 354px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;

    &--converted {
        position: absolute;
        bottom: 36px;
        right: 45px;

        width: 406px;
        height: 49px;
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 20%);
        border-radius: 10px 10px 0 0;
    }
}

.form {
    &__top {
        height: 49px;
        padding: 16px 21px 15px 14px;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    &__link {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        opacity: 0.5;
        transition: all 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    &__messages {
        height: 252px;
        padding: 31px 19px 9px;
        border-top: 1px solid rgba(0, 0, 0, 20%);
        border-bottom: 1px solid rgba(0, 0, 0, 20%);
        overflow: auto;
        scrollbar-width: 0;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        position: relative;

        &::-webkit-scrollbar {
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    &__empty-text {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        opacity: 0.5;

        position: absolute;
        top: 100px;
        left: 150px;
    }

    &__message {
        width: 267px;
        min-height: 40px;
        padding: 10px;
        border-radius: 6px;

        &--menthor {
            background: #000;

            & p {
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                line-height: normal;

                & span {
                    font-size: 14px;
                    opacity: 0.5;
                }
            }
        }

        &--student {
            background: #D9D9D9;
            align-self: start;

            & p {
                color: #000;

                & span {
                    font-size: 14px;
                    opacity: 0.5;
                }
            }
        }
    }

    &__footer {
        width: 100%;
        height: 53px;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 375px;
        height: 100%;
        padding-left: 18px;
        padding-right: 18px;
        border: none;
        outline: none;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &::placeholder {
            opacity: 0.5;
        }
    }

    &__button {
        width: 30px;
        height: 100%;
        background: url(../../public/img/button-send-message.svg) center no-repeat, transparent;
        border: none;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }
}