.ql-snow .ql-editor pre.ql-syntax {
    background-color: #00000091;
    padding: 20px;
}

.task__container .ql-snow{
    border: none;
    color: #ffffff;
    padding: 0;
    margin: 5px 0;
}

.ql-snow .ql-picker-options {
    background: #242424;
}

.ql-snow .ql-picker {
    color: #ffffff;
    
}

.ql-snow .ql-stroke {
    stroke: #ffffff;
}

.hljs {
    background: #000;
}
