.main {
    .user-panel {
        &__title {
            color: #fff;
            font-size: 24px;
            line-height: normal;
        }

        &__button {
            @include task-button();
            width: 171px;
        }

        &__panel {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }

        &__students-amount {
            color: #fff;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.5;
            display: flex;
            gap: 5px;
        }

        &__disconnected-block {
            width: 232px;
            height: 36px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 3px;
            background: #fc4c1e;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__disconnected-text {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }

        &__disconnected-link {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            transition: all 0.5s;

            &:hover {
                text-decoration: none;
                opacity: 0.6;
            }
        }

        &__task-buttons {
            display: flex;
            gap: 16px;
        }

        &__task-button {
            @include task-button();
            width: 171px;
            background: #0076fe;
        }

        &__task-settings {
            margin-left: auto;
            transition: 0.5s ease;

            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
        }

        &__quite {
            font-size: 15px;
            line-height: 20px;
        }

        &__students {
            min-height: 200px;
            background: #242424;
            border-radius: 6px;
            display: flex;
            overflow-x: hidden;

            &--empty {
                justify-content: center;
                align-items: center;
            }
        }
    }
}
