.window {
    position: relative;
    padding-top: 35px;
    padding-left: 33px;
    padding-right: 43px;
    display: grid;
    grid-template-columns: 224px 1fr;
    gap: 22px;

    &__room {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .room {
        &__title {
            color: $font-color;
            font-size: 24px;
            line-height: normal;
        }

        &__panel {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }

        &__students-amount {
            color: $font-color;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.5;
            display: flex;
            gap: 5px;
        }

        &__disconnected-block {
            width: 232px;
            height: 36px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 3px;
            background: #fc4c1e;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__disconnected-text {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }

        &__disconnected-link {
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            transition: all 0.5s;

            &:hover {
                text-decoration: none;
                opacity: 0.6;
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
        }

        &__quite {
            font-size: 15px;
            line-height: 20px;
        }

        &__students {
            min-height: 187px;
            background: $work-background;
            border-radius: 6px;
            display: flex;

            &--empty {
                justify-content: center;
                align-items: center;
            }
        }

        .students {
            &__empty {
                width: 168px;
                color: $font-color;
                font-size: 12px;
                line-height: 20px;
                opacity: 0.5;
                text-align: center;
            }

            &__list {
                width: 229px;
                list-style: none;
                display: flex;
                flex-direction: column;
            }

            &__item {
                height: 50px;
                padding-left: 13px;
                display: flex;
                align-items: center;
                gap: 43px;

                &--unread {
                    border-bottom: 1px solid $font-color;
                }

                &--active {
                    background: #606060;
                }

                &--order-1 {
                    order: -1;
                }
            }

            .item {
                &__name {
                    color: $font-color;
                    font-size: 16px;
                    line-height: 20px;
                    cursor: default;

                    &--read {
                        opacity: 0.8;
                    }
                }

                &__unread {
                    width: 28px;
                    height: 24px;
                    border-radius: 6px;
                    background: #000;
                    color: $font-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        &__instructions {
            color: $font-color;
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__code {
        min-height: 619px;
        background: $work-background;
        border-radius: 7px;
        overflow: auto;
        display: flex;

        &--empty {
            color: $font-color;
            font-size: 14px;
            line-height: 20px;
            justify-content: center;
            align-items: center;
        }

        &--empty span {
            opacity: 0.5;
        }

        .code {
            &__filetree {
                width: 197px;
                padding-top: 7px;
                overflow: auto;
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            &__tree-section {
                width: 100%;
                height: 35px;
                padding-left: 17px;
                display: flex;
                align-items: center;
                gap: 10px;

                &--active {
                    background: #606060;
                }

                &--level-1 {
                    padding-left: 17px;
                }

                &--level-2 {
                    padding-left: 27px;
                }

                &--level-3 {
                    padding-left: 37px;
                }
            }

            &__tree-name {
                color: $font-color;
                font-size: 16px;
                line-height: 20px;
                opacity: 0.7;
                cursor: default;

                &--active {
                    opacity: 1;
                }
            }

            &__show-screen {
                height: 100%;
                flex-grow: 1;

                & code {
                    width: 773px;
                    height: 615px;
                    font-size: 16px;
                }
            }
        }
    }
}
