* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/stratosskyengweb-regular.woff2) format("woff2");
}
@font-face {
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/stratosskyengweb-regular.woff) format("woff");
}
html {
  scrollbar-width: none;
}

body {
  background: #000;
  font-family: StratosSkyeng;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.button {
  width: 248px;
  height: 54px;
  border-radius: 4px;
  background: #3574f0;
  border: none;
  cursor: pointer;
  color: #e5e5e5;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s;
}
.button:hover {
  opacity: 0.5;
}
.button:disabled {
  opacity: 0.1;
}

.link {
  color: #fff;
  line-height: normal;
  opacity: 0.5;
  transition: all 0.5s;
}
.link:hover {
  opacity: 1;
}

.area {
  flex-grow: 1;
  height: auto;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}
.area:focus {
  overflow-y: hidden;
}
.area:not(:focus) {
  height: auto !important;
}

.send-button {
  align-self: baseline;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

.connection {
  padding-top: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.connection__link {
  font-size: 16px;
}
.connection__form {
  width: 354px;
  height: 343px;
  padding-top: 30px;
  border-radius: 6px;
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: start;
}
.connection__title {
  margin-bottom: 8px;
  color: #fff;
  font-size: 32px;
  line-height: normal;
}
.connection__text {
  margin-bottom: 30px;
  color: #fff;
  font-size: 16px;
}
.connection__input {
  width: 245px;
  height: 35px;
  margin-bottom: 21px;
  padding: 8px 11px;
  border-radius: 4px;
  border: 1px solid #444;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
}
.connection__input::-moz-placeholder {
  opacity: 0.5;
}
.connection__input::placeholder {
  opacity: 0.5;
}
.connection__check-section {
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.connection__check-button {
  width: 88px;
  height: 28px;
  background: #3c3c3c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.5s;
}
.connection__check-button:hover {
  opacity: 0.3;
}
.connection__status {
  display: flex;
  align-items: center;
  gap: 9px;
}
.connection__text-status {
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
}

.main {
  position: relative;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 224px 1fr;
  gap: 22px;
}
.main__user-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main__task-editor {
  min-height: 94vh;
  padding: 25px 50px;
  background: #242424;
  border-radius: 7px;
  display: flex;
  justify-content: start;
  gap: 50px;
}
.main__code-panel {
  height: 705px;
  padding-top: 10px;
  background: #242424;
  border-radius: 7px;
  display: flex;
  overflow: hidden;
}

.main .user-panel__title {
  color: #fff;
  font-size: 24px;
  line-height: normal;
}
.main .user-panel__button {
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #a96afc;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  width: 171px;
}
.main .user-panel__button:disabled {
  cursor: default;
  opacity: 0.5;
}
.main .user-panel__button:hover {
  opacity: 0.5;
}
.main .user-panel__panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.main .user-panel__students-amount {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.5;
  display: flex;
  gap: 5px;
}
.main .user-panel__disconnected-block {
  width: 232px;
  height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  background: #fc4c1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .user-panel__disconnected-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.main .user-panel__disconnected-link {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.5s;
}
.main .user-panel__disconnected-link:hover {
  text-decoration: none;
  opacity: 0.6;
}
.main .user-panel__task-buttons {
  display: flex;
  gap: 16px;
}
.main .user-panel__task-button {
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #a96afc;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  width: 171px;
  background: #0076fe;
}
.main .user-panel__task-button:disabled {
  cursor: default;
  opacity: 0.5;
}
.main .user-panel__task-button:hover {
  opacity: 0.5;
}
.main .user-panel__task-settings {
  margin-left: auto;
  transition: 0.5s ease;
}
.main .user-panel__task-settings:hover {
  opacity: 0.5;
  cursor: pointer;
}
.main .user-panel__links {
  display: flex;
  justify-content: space-between;
}
.main .user-panel__quite {
  font-size: 15px;
  line-height: 20px;
}
.main .user-panel__students {
  min-height: 200px;
  background: #242424;
  border-radius: 6px;
  display: flex;
  overflow-x: hidden;
}
.main .user-panel__students--empty {
  justify-content: center;
  align-items: center;
}

.main .user-panel .students__empty {
  width: 168px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
  text-align: center;
}
.main .user-panel .students__list {
  width: 229px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.main .user-panel .students__item {
  height: 50px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.main .user-panel .students__item--unread {
  border-bottom: 1px solid #fff;
}
.main .user-panel .students__item--active {
  background: #606060;
}
.main .user-panel .students__item--NONE::before {
  content: "";
  width: 20px;
  background: transparent;
}
.main .user-panel .students__item--HELP::before {
  content: url(../../public/img/help-icon.svg);
}
.main .user-panel .students__item--DONE::before {
  content: url(../../public/img/done-icon.svg);
}
.main .user-panel .students__item--IN_PROGRESS::before {
  content: url(../../public/img/doing-icon.svg);
}
.main .user-panel .students .item:hover {
  cursor: pointer;
  opacity: 0.8;
}
.main .user-panel .students .item__name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  cursor: default;
}
.main .user-panel .students .item__name:hover {
  cursor: pointer;
  opacity: 0.8;
}
.main .user-panel .students .item__name--read {
  opacity: 0.8;
}
.main .user-panel .students .item__unread {
  width: 28px;
  height: 24px;
  border-radius: 6px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .task-editor__container {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 27px;
}
.main .task-editor__title {
  color: #fff;
  font-size: 18px;
  line-height: normal;
}
.main .task-editor__works-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .task-editor__works {
  height: 44px;
  background: #000;
  display: flex;
  border-radius: 5px;
  overflow-y: hidden;
}
.main .task-editor__work {
  display: none;
}
.main .task-editor__work:checked + .task-editor__work-label {
  background: #0076fe;
  opacity: 1;
}
.main .task-editor__work-label {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 17px;
  opacity: 0.5;
  font-size: 17.903px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s ease;
}
.main .task-editor__work-label:hover {
  opacity: 1;
  cursor: pointer;
}
.main .task-editor__work-plus {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 17px;
  opacity: 0.5;
  font-size: 17.903px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s ease;
}
.main .task-editor__work-plus:hover {
  opacity: 1;
  cursor: pointer;
}
.main .task-editor__text {
  color: #fff;
  width: 100px;
}
.main .task-editor__area {
  width: 100%;
  min-height: 60vh;
  padding: 9px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #191919;
  resize: none;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  border: solid 8px #191919;
}
.main .task-editor__area ::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
.main .task-editor__area::-webkit-scrollbar-thumb {
  background: rgb(169, 106, 252);
  border-radius: 20px;
}
.main .task-editor__button {
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #a96afc;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  background: #0076fe;
  height: 45px;
  width: 120px;
}
.main .task-editor__button:disabled {
  cursor: default;
  opacity: 0.5;
}
.main .task-editor__button:hover {
  opacity: 0.5;
}
.main .task-editor__button-sent {
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #a96afc;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  background: #00aa63;
  height: 45px;
  width: 120px;
}
.main .task-editor__button-sent:disabled {
  cursor: default;
  opacity: 0.5;
}
.main .task-editor__button-sent:hover {
  opacity: 0.5;
}
.main .task-editor__notion {
  display: flex;
  flex-direction: column;
  gap: 83px;
}
.main .task-editor .notion__box {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.main .task-editor .notion__title {
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .task-editor .notion__input {
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  min-width: 295px;
  outline: none;
  color: #fff;
  background: #000;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .task-editor .notion__btn-box {
  display: flex;
  gap: 20px;
}
.main .task-editor .notion__error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #fc4c1e;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  width: 100%;
}
.main .task-editor .notion__btn {
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #a96afc;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  width: 78px;
  padding: 6px;
}
.main .task-editor .notion__btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.main .task-editor .notion__btn:hover {
  opacity: 0.5;
}
.main .task-editor .notion__btn-sent {
  height: 37px;
  border: none;
  border-radius: 6px;
  background: #a96afc;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s;
  padding: 6px;
  background: #00aa63;
  width: 151px;
}
.main .task-editor .notion__btn-sent:disabled {
  cursor: default;
  opacity: 0.5;
}
.main .task-editor .notion__btn-sent:hover {
  opacity: 0.5;
}

.main .code-panel__empty-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .code-panel__empty-block span {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}
.main .code-panel__filetree {
  flex-grow: 1;
  min-width: 197px;
  padding: 7px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  scrollbar-width: 0px;
}
.main .code-panel__filetree::-webkit-scrollbar {
  width: 0px;
}
.main .code-panel__filetree::-webkit-scrollbar-track {
  background: transparent;
}
.main .code-panel__tree-section {
  padding: 5px;
  width: 100%;
  height: 35px;
  padding-left: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .code-panel__tree-section:hover {
  cursor: pointer;
  opacity: 0.8;
}
.main .code-panel__tree-section--active {
  background: #606060;
}
.main .code-panel__tree-section--level-1 {
  padding-left: 17px;
}
.main .code-panel__tree-section--level-2 {
  padding-left: 27px;
}
.main .code-panel__tree-section--level-3 {
  padding-left: 37px;
}
.main .code-panel__tree-name {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
  cursor: default;
}
.main .code-panel__tree-name:hover {
  cursor: pointer;
}
.main .code-panel__tree-name--active {
  opacity: 1;
}
.main .code-panel__tree-point {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffcf4d;
}
.main .code-panel__code-block {
  padding-top: 15px;
  flex-grow: 8;
}
.main .code-panel__code-block pre {
  width: 100%;
}
.main .code-panel__code-block pre code {
  width: 100%;
  height: 705px;
  background: #cecfd2;
  border-radius: 6px;
  font-size: 16px;
  overflow-x: auto;
  scrollbar-width: 0px;
  margin-top: -25px;
}
.main .code-panel__code-block pre code::-webkit-scrollbar {
  width: 0px;
}
.main .code-panel__code-block pre code::-webkit-scrollbar-track {
  background: transparent;
}

.messages {
  position: absolute;
  bottom: 19px;
  right: 50px;
  width: 406px;
  background: #000;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
}
.messages--converted {
  position: absolute;
  bottom: 19px;
  right: 50px;
  width: 406px;
  height: 49px;
  background: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
}
.messages__top {
  height: 49px;
  padding: 16px 21px 15px 14px;
  display: flex;
  justify-content: space-between;
}
.messages__steps {
  display: flex;
  flex-flow: column;
  gap: 1px;
}
.messages .steps__box {
  width: 100%;
  height: 43px;
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messages .steps__box--done {
  background: #0076fe;
}
.messages .steps__box--help {
  background: #9f6405;
}
.messages .steps__text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.messages .steps__text--underline {
  text-decoration: underline;
}
.messages .steps__links {
  display: flex;
  align-items: center;
  gap: 27px;
}
.messages .steps__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.5s;
}
.messages .steps__link--return, .messages .steps__link--complete {
  color: #d9d9d9;
  opacity: 0.7;
}
.messages .steps__link--return:hover, .messages .steps__link--complete:hover {
  opacity: 1;
  text-decoration: underline;
}
.messages .steps__link--confirm {
  color: #00dd80;
}
.messages .steps__link--confirm:hover {
  opacity: 0.5;
  text-decoration: underline;
}
.messages__name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.messages__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.5;
  transition: all 0.5s;
}
.messages__link:hover {
  opacity: 1;
}
.messages__chat {
  height: 252px;
  padding: 31px 19px 9px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: auto;
  scrollbar-width: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  position: relative;
}
.messages__chat::-webkit-scrollbar {
  width: 0px;
}
.messages__chat::-webkit-scrollbar-track {
  background: transparent;
}
.messages__empty-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.5;
  position: absolute;
  top: 100px;
  left: 150px;
}
.messages__message {
  max-width: 267px;
  min-height: 40px;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background: #fff;
  color: #000;
}
.messages__message span {
  font-size: 14px;
  opacity: 0.5;
}
.messages__message--student {
  align-self: start;
  background: #d9d9d9;
}
.messages__footer {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
}
.messages__input {
  width: 375px;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.messages__input::-moz-placeholder {
  opacity: 0.5;
}
.messages__input::placeholder {
  opacity: 0.5;
}
.messages__button {
  width: 30px;
  height: 100%;
  background: url(../../public/img/button-send-message.svg) center no-repeat, transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.messages__button:hover {
  opacity: 0.5;
}

.main .task-editor .ql-snow .ql-editor pre.ql-syntax {
  background-color: rgba(0, 0, 0, 0.568627451);
  padding: 20px;
}
.main .task-editor__container,
.main .task-editor .ql-snow {
  border: none;
  color: #ffffff;
  padding: 0;
  margin: 5px 0;
}
.main .task-editor .ql-snow .ql-picker-options {
  background: #242424;
}
.main .task-editor .ql-snow .ql-picker {
  color: #ffffff;
}
.main .task-editor .ql-snow .ql-stroke {
  stroke: #ffffff;
}
.main .task-editor .hljs {
  background: #000;
}/*# sourceMappingURL=main.css.map */