* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../public/fonts/stratosskyengweb-regular.woff2) format("woff2");
}

@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../public/fonts/stratosskyengweb-regular.woff) format("woff");
}
html {
    scrollbar-width: none;
}

body {
    background: #000;
    font-family: StratosSkyeng;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    width: 248px;
    height: 54px;
    border-radius: 4px;
    background: #3574f0;
    border: none;
    cursor: pointer;
    color: #e5e5e5;
    font-weight: 400;
    line-height: normal;
    transition: all 0.5s;
}
.button:hover {
    opacity: 0.5;
}
.button:disabled {
    opacity: 0.1;
}

.link {
    color: #fff;
    line-height: normal;
    opacity: 0.5;
    transition: all 0.5s;
}
.link:hover {
    opacity: 1;
}

.area {
    flex-grow: 1;
    height: auto;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    color: #000;
    font-size: 16px;
    line-height: 20px;
}
.area:focus {
    overflow-y: hidden;
}
.area:not(:focus) {
    height: auto !important;
}

.send-button {
    align-self: baseline;
    border: none;
    background: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

.connection {
    padding-top: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.connection__link {
    font-size: 16px;
}
.connection__form {
    width: 354px;
    height: 343px;
    padding-top: 30px;
    border-radius: 6px;
    background: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.connection__title {
    margin-bottom: 8px;
    color: #fff;
    font-size: 32px;
    line-height: normal;
}
.connection__text {
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
}
.connection__input {
    width: 245px;
    height: 35px;
    margin-bottom: 21px;
    padding: 8px 11px;
    border-radius: 4px;
    border: 1px solid #444;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
}
.connection__input::-moz-placeholder {
    opacity: 0.5;
}
.connection__input::placeholder {
    opacity: 0.5;
}
.connection__check-section {
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    gap: 18px;
}
.connection__check-button {
    width: 88px;
    height: 28px;
    background: #3c3c3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.5;
    transition: all 0.5s;
}
.connection__check-button:hover {
    opacity: 0.3;
}
.connection__status {
    display: flex;
    align-items: center;
    gap: 9px;
}
.connection__text-status {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
}

.window {
    position: relative;
    padding: 43px;
    display: grid;
    grid-template-columns: 224px 1fr;
    gap: 22px;
}
.window__room {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.window .room__title {
    color: #fff;
    font-size: 24px;
    line-height: normal;
}
.window .room__panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.window .room__students-amount {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    opacity: 0.5;
    display: flex;
    gap: 5px;
}
.window .room__disconnected-block {
    width: 232px;
    height: 36px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    background: #fc4c1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window .room__disconnected-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.window .room__disconnected-link {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.5s;
}
.window .room__disconnected-link:hover {
    text-decoration: none;
    opacity: 0.6;
}
.window .room__task-button {
    height: 37px;
    border: none;
    border-radius: 6px;
    background: #a96afc;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.5s;
}
.window .room__task-button:hover {
    opacity: 0.5;
}
.window .room__links {
    display: flex;
    justify-content: space-between;
}
.window .room__quite {
    font-size: 15px;
    line-height: 20px;
}
.window .room__students {
    min-height: 187px;
    background: #242424;
    border-radius: 6px;
    display: flex;
    overflow-x: hidden;
}
.window .room__students--empty {
    justify-content: center;
    align-items: center;
}
.window .room .students__empty {
    width: 168px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
}
.window .room .students__list {
    width: 229px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.window .room .students__item {
    height: 50px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.window .room .students__item--unread {
    border-bottom: 1px solid #fff;
}
.window .room .students__item--active {
    background: #606060;
}
.window .room .students__item--NONE::before {
    content: "";
    width: 20px;
    background: transparent;
}
.window .room .students__item--HELP::before {
    content: url(../../public/img/help-icon.svg);
}
.window .room .students__item--DONE::before {
    content: url(../../public/img/done-icon.svg);
}
.window .room .students__item--IN_PROGRESS::before {
    content: url(../../public/img/doing-icon.svg);
}
.window .room .students .item__name {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
}
.window .room .students .item__name--read {
    opacity: 0.8;
}
.window .room .students .item__unread {
    width: 28px;
    height: 24px;
    border-radius: 6px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.window .room__instructions {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
.window__code {
    height: 619px;
    background: #242424;
    border-radius: 7px;
    display: flex;
}
.window__code--empty {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}
.window__code--empty span {
    opacity: 0.5;
}
.window .code__filetree {
    width: 197px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow: auto;
    scrollbar-width: 0;
}
.window .code__filetree::-webkit-scrollbar {
    width: 0;
}
.window .code__filetree::-webkit-scrollbar-track {
    background: transparent;
}
.window .code__filetree::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
}
.window .code__tree-section {
    width: 100%;
    height: 35px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.window .code__tree-section--active {
    background: #606060;
}
.window .code__tree-section--level-1 {
    padding-left: 17px;
}
.window .code__tree-section--level-2 {
    padding-left: 27px;
}
.window .code__tree-section--level-3 {
    padding-left: 37px;
}
.window .code__tree-name {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.7;
    cursor: default;
}
.window .code__tree-name--active {
    opacity: 1;
}
.window .code__show-screen {
    height: 100%;
    overflow: hidden;
}
.window .code__show-screen code {
    width: 1000px;
    height: 100%;
    font-size: 16px;
    overflow: auto;
    scrollbar-width: 0;
}
.window .code__show-screen code::-webkit-scrollbar {
    width: 0;
}
.window .code__show-screen code::-webkit-scrollbar-track {
    background: transparent;
}
.window .code__show-screen code::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}
.window .code__disconnected-screen {
    width: 773px;
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}
.window__task {
    height: 619px;
    padding: 25px 100px;
    background: #242424;
    border-radius: 7px;
    display: flex;
    justify-content: start;
}
.window .task__container {
    width: 662px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 27px;
}
.window .task__title {
    color: #fff;
    font-size: 18px;
    line-height: normal;
}
.window .task__area {
    width: 900px;
    height: 503px;
    padding: 9px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #191919;
    resize: none;
    color: #fff;
    font-size: 16px;
    line-height: normal;
}
.window .task__button {
    width: 179px;
    height: 37px;
    border: none;
    border-radius: 6px;
    background: #a96afc;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.5s;
}
.window .task__button:hover {
    opacity: 0.5;
}
.window .task__button-sent {
    width: 179px;
    height: 37px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    transition: all 0.5s;
    background: #00aa63;
}
.window .task__button-sent:hover {
    opacity: 0.5;
}

.messages {
    width: 406px;
    height: 354px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
    right: 21px;
}
.messages--converted {
    height: 49px;
}
.messages__top {
    height: 49px;
    padding: 16px 14px 13px;
    display: flex;
    justify-content: space-between;
}
.messages__name {
    color: #000;
    font-size: 16px;
    line-height: 20px;
}
.messages__convert {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
    transition: all 0.5;
}
.messages__convert:hover {
    opacity: 1;
}
.messages__screen {
    height: 256px;
    border-top: 1px solid rgb(0 0 0 / 20%);
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.messages__screen::-webkit-scrollbar {
    width: 0.5em;
}
.messages__screen::-webkit-scrollbar-track {
    background-color: transparent;
}
.messages__screen::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.messages__empty-text {
    width: 288px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
}
.messages__form {
    padding: 12px 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.messages__list {
    width: 100%;
    padding: 31px 20px 26px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.messages__item {
    width: 267px;
    min-height: 61px;
    padding-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #d9d9d9;
    align-self: start;
}
.messages__item--user {
    align-self: end;
    background: #000;
}
.messages__text {
    color: #000;
    font-size: 16px;
    line-height: normal;
}
.messages__text--user {
    color: #fff;
}
.messages__distance {
    color: #000;
    font-size: 14px;
    line-height: normal;
    opacity: 0.25;
}
.messages__distance--user {
    color: #fff;
}
.messages__unsent {
    color: var(--red-100, #fc4c1e);
    font-size: 14px;
    line-height: normal;
}
